$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);

.breadcrumb {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
}

.breadcrumb ul {
    width: 100%;
}

.breadcrumb ul li {
    flex-grow: 1;
    justify-content: center;
}

.breadcrumb ul li a {
    background-color:  (#1b2132, 0.1);
    color: $colorWhite;

    font-weight: bold;
    text-align: center;

    padding: 12px;
    border-radius: 25px;
    border: 1px solid white;
}

.breadcrumb ul li::before {
    display: none;
}

.breadcrumb ul li.is-active a {
    background-color: $colorWhite;
    color: $colorBlack;
}

.breadcrumb ul li a:hover {
    cursor: default;
}