@import "~bulma";
@import "~bulma-carousel";

:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 99vh;
}

body{
    margin:0px;
    padding:0px;
}
.component{
    margin-top:20%;
    width:90%;
    margin:0 auto;
}
::ng-deep .carousel-indicators{
    margin-bottom: 60px !important;
    @media (max-width: 520px) {
        margin-bottom: 80px !important;
      }
}
h3{
    font-size: 2em;
}
p{
    font-size: 1em;
}
.picsum-img-wrapper{
    border:none;
    ::ng-deep{
        border:none;
    }
}
ng-template{
  text-align: center;
}
.imageText{
    justify-content: center;
    text-align:center;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 20px;
}
li{
    visibility: hidden;
}
.register-container{
    text-align:center;
    font-weight: bold;
}
button{
    color:white !important;
}
.btn-primary{
color:white !important;
}

.centerContent {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.LoginInput {
    background-color: #1b2132;
    color: white;
    width: 80em;
}

.inputStyling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

::placeholder {
    color: white;
}

input[type="text"], input:active, input:hover, input:focus {
    background-color: #1b2132;
    color: white;
    text-align: center; 
}

h3 {
    padding-top: 20px;
}

.btnStyle {
    background-color: #1b2132;
    color: white;
}

.admin-page-content {
    
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.nav-columns {
    display: flex;
    justify-content: center;
}

.navigation-container {
    max-width: fit-content;
}

.heading {
    font-size: 5em;
    padding: 1em;
}

.logo {
    display: grid;
    grid-template-columns: 6fr 2fr;
    
    transform: translate(10%, 20%);
}

.icon {
    font-size: 8em;
    justify-content: center;

    position: relative;
    top: 15%;
    right: 15%;
}

.flex {
    display: flex;
    justify-content: center;
}