<div class="centerContent">

  <div class="flex">
    <div class="logo">
      <h1 class="heading">Kommunicator</h1>
      <span class="material-icons icon">
        chat
      </span>
    </div>
  </div>

  <div class="admin-page-content">
    <div class="navigation-container">
      <div class="nav-columns">
        <div class="nav-column">

          <app-action-card [clickable]="false" icon="../../assets/images/list-white.png"
            title="Subscribe to interesting topics"></app-action-card>


        </div>

        <div class="nav-column">
          <app-action-card [clickable]="false" icon="../../assets/images/template-white.png"
            title="Create your own portfolio of intriguing topics"></app-action-card>

        </div>

        <div class="nav-column">
          <app-action-card [clickable]="false" icon="../../assets/images/checklist.png"
            title="Select your niche topics and subscribe to a broad spectrum of various subjects"></app-action-card>

        </div>

      </div>
      <div class="nav-columns">
        <div class="nav-column">
          <app-action-card [clickable]="false" icon="../../assets/images/talk-bubble-with-plus-sign-white.png"
            title="Receive periodic email updates for your favorite subjects"></app-action-card>

        </div>

        <div class="nav-column">
          <app-action-card [clickable]="false" icon="../../assets/images/learning.png"
            title="Stay up to date with cutting-edge developments within diverse industries"></app-action-card>
        </div>
        <div class="nav-column">
          <app-action-card [clickable]="false" icon="../../assets/images/brain.png"
            title="Knowledge is power, don't hesitate and start using the Kommunicator!"></app-action-card>

        </div>
      </div>
    </div>
    <!--<ngb-carousel [interval]=6000 [showNavigationArrows]=true [showNavigationIndicators]=true *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">

        </div>
        <div class="imageText">
          <h3>Subscription Model</h3>
          <p>Subscribe to intriguing topics of a broad spectrum of choices</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>

        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">

        </div>
        <div class="imageText">
          <h3>Stay up to date</h3>
          <p>Receive custom emails regarding specific subscribed topics and always be up to date with its content</p>
        </div>

      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>

        <div class="carousel-caption">

        </div>
        <div class="imageText">
          <h3>Knowledge is power</h3>
          <p>Increase your knowledge in various subjects and learn continously without any hassle just check your email
            if there are any updates</p>
        </div>

      </ng-template>
    </ngb-carousel>-->
  </div>

  <div style="padding-top: 20px; margin-bottom: 50px;" class="register-container inputStyling">

    <form>
      <div class=" form-group ">
        <p>Enter your email and get started</p>
        <input class=" input is-rounded form-control" required minlength="3" maxlength="45"
          pattern='^[A-Za-z0-9\u0430-\u044F\u0410-\u042F\._-]+@([A-Za-z0-9\u0430-\u044F\u0410-\u042F]{1,2}|[A-Za-z0-9\u0430-\u044F\u0410-\u042F]((?!(\.\.))[A-Za-z0-9\u0430-\u044F\u0410-\u042F.-])+[A-Za-z0-9\u0430-\u044F\u0410-\u042F])\.[A-Za-z\u0430-\u044F\u0410-\u042F]{2,}$'
          ngModel name="email" #email="ngModel" id="firstName" type="text" style="width: 500px;"
          placeholder="Enter your email" (change)="getEmail(email)">
        <div class="alert alert-danger" *ngIf="email.touched &&!email.valid">Email is required</div>
        <button style="margin-left: 10px;" *ngIf="!email.errors" class="button btnStyle is-rounded"
        (click)="UserSubscribe()"><strong>Manage Subscriptions</strong></button>
      </div>
      
    </form>
  </div>
</div>
