<div class="container">
    <h1>Here are the saved components</h1>
        <select ng-model="selectedTestAccount" (click)="getValuesFromDatabase()"> 
            <option *ngFor="let jobTitle of savedTemplateHeader" value="">{{jobTitle}}</option>

         </select>
    </div>