:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
  }
  .header{
      text-align: center;
      font-size:2em;
      padding-top:1%;
  }
  .main-container{
      margin:0 auto;
      width:70%;
      height:70vh;
      color:white;
      grid-template-columns: 30% 70%;
  }
  .accordian{
      padding-top:0;
      transition: 0.4s;
      text-align:center;
  }
  .accordian-button{
      transition: 0.4s;
      width: 8em;
    display: inline-block;
  }
  
 .card::ng-deep{
      padding:0;
      color:white;
  }
  #divChart{
      width:60%;
      margin: 0 auto;
  }
  #myChart{
      width: 400px;
  }
  .show-table-button button{
      margin-top: 1em;
      width: 8em;
  }
  .export-to-csv button{
      margin-top:1em;
      width:8em;
  }
  action-buttons{
      display:inline-block;
  }
 
  #divTextResponse{
      text-align:center;
      margin:0 auto;
      justify-content: center;
      margin-top:2%;
      padding-top: 2%;
      padding-bottom:2%;
  }
  table{
      text-align: center;
      margin:0 auto;
      justify-content: center;
      color:white;
  }
  th{
      color:white;
  }
  table, th, td {
    border: 1px solid white;
    padding: 1em;

  }

  .btnStyle {
      background-color: #1b2132;
      color: white;
      margin: 10px;
  }

  h1 {
      font-weight: bold;
      font-style: italic;
      padding-bottom: 50px;
  }