
<div class="edit-topic-form-content">
    <div class="field">
        <label class="label">Topic name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Write a name..." [(ngModel)]="topicFormData.topic.name">
        </div>
      </div>

      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <select name="categorySelector" id="1" class="select" [(ngModel)]="topicFormData.subCategory">
            <optgroup class="optgroup" *ngFor="let category of topicFormData.categories" [label]="category.name">
              <option *ngFor="let subCategory of category.subCategories" [ngValue]="subCategory" class="option">
                {{subCategory.name}}
              </option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Topic Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Write a description..." [(ngModel)]="topicFormData.topic.description"></textarea>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button [mat-dialog-close]="topicFormData" class="button is-link is-success">Submit</button>
          <button [mat-dialog-close] class="button is-link is-danger">Cancel</button>
        </div>
      </div>
</div>
