$bgColor: #1b2132;

.label {
    color: white !important;
}

input, textarea, select {
    background-color: $bgColor;
    color: white;
}

::placeholder {
    color: white;
}

.edit-topic-form-content {
    background-color: $bgColor;
    color: white;
}

::ng-deep.mat-dialog-container {
    background-color: $bgColor;
}