.topic-item {
    padding-bottom: 20px;
    font-size: 14px;
    color: white;
    width: 100%;
}

.topic-card {
    box-shadow: rgba(0, 0, 0, 0.63) 0px 2px 15px;
    border-radius: 14px;
    border: 1px solid white;
    display: block; 
    justify-content: center;
    overflow: hidden;
}

.topic-card-content {
    display: block;
    justify-content: center;
}

.topic-card-header {
    display: flex;

}

.topic-child {
    font-size: 14px;
    width: 100%;
  }

.title {
    color:white;
    flex: 1;
}

.edit-delete-menu-container {
    flex: 0 0 auto;  
    margin-top: 5px;
}

.subtitle {
    color:white;
}

.topic-card-footer {
    background-color: #1b2132;
    display: flex;
    align-items: center;
    border-style: none;
    border-top: 1px solid grey;
}

.topic-card-footer-item {
    background-color: #1b2132;
    color: white;
    border-radius: 13px;
    border: 1px solid grey;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 3px;
    
}

.subscribe-button {
    justify-self: flex-end;
}

.propertyBtn {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}