<div class="topic-item">
  <div class="topic-card">
    <div class="topic-card-content">
      <div class="topic-card-header">
        <p style="text-align: center; padding-top: 20px;" class="title">
          {{topic.name}}
        </p>
        <div *ngIf="editable" class="edit-delete-menu-container">
          <app-edit-delete-dropdown [isTopic]="true" [topicId]="topic.id" [subCategoryId]="topic.subCategoryID"
            (deleteTopicClick)="handleDeleteTopicClick()" (editTopicClick)="handleEditTopicClick()">
          </app-edit-delete-dropdown>
        </div>
      </div>

      <p style="text-align: center; padding-bottom: 20px;" class="subtitle">
        {{topic.description}}
      </p>
    </div>
    <div class="topic-card-footer">
      <div class="topic-card-footer-item propertyBtn">
        <p class="">
          {{categoryName}}
        </p>
      </div>
      <div class="topic-card-footer-item propertyBtn">
        <p>
          {{subCategoryName}}
        </p>
      </div>
    </div>
  </div>
</div>
