
<div class="main-container">
    <div class="saved-message-templates">
<!--        <app-saved-templates (loadedEvent)="recieveMessage($event)" ></app-saved-templates>-->
<app-message-template-sidebar></app-message-template-sidebar>
    </div>
    <div class="editor-window">
        <app-template-for-message></app-template-for-message>

    </div>

    <div class="review-and-submit">
        <h1>Save template</h1>
        <form>
            <label for="inputName"></label>
            <input type="text" placeholder="Name of template">
        </form>
    </div>

</div>