.edit-categories-sidebar-content {
    width: 25vw;
    border: 1 black;
    border-style: solid;
}

.category-item {
    border: bottom 1 black solid;
    margin: 1vh;

}

.hideChildren>div {
    display: none;
}