<div class="container is-fluid">
  <!-- Breadcrumb -->
  <app-breadcrumb style="padding-bottom: 30px;" [active]="activeStep" [crumbs]="StepCrumbs"></app-breadcrumb>

  <!-- Step 1 : Introduction-->
  <div class="centerContent3" [hidden]="Step.name !== 'Introduction'">
    <section class="hero is-transparent is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Create an Outgoing Set
          </h1>
          <h2 class="subtitle">
            An outgoing set consists of subscribed topics and a message template. Once an outgoing set is created
            you can deliver it to the subscibers who have subscribed via e-mail.
          </h2>

          <h2 class="subtitle">To get started, press Next</h2>
        </div>
      </div>
    </section>
  </div>

  <!-- Step 2 : Select topics -->
  <div class="centerContent3" [hidden]="Step.name !== 'Select Topics'">
    <app-outgoing-set-topic-subscriptions (onTopicSelected)="onTopicsSelected($event)"
      (OnEmailAdded)="UpdateSubscriptionList($event)">
    </app-outgoing-set-topic-subscriptions>
  </div>

  <!-- Step 3 : Select message -->
  <div class="centerContent2" *ngIf="Step.name === 'Select a Message'">
    <div class="grid">
      <div class="cardBox">
        <h1 style="padding-top: 60px;" class="topicsHeader">Avaliable Messages:</h1>
        <div class="card" [ngClass]="{ 'active' : selectedMessage === message }" *ngFor="let message of messages">
          <header class="card-header" (click)="SelectMessage(message)">
            <p class="card-header-title">{{ message.messageDescription }}</p>
          </header>
        </div>
      </div>

      <div *ngIf="selectedMessage !== null">
        <!-- Message Template -->
        <div class="messageTemplate editorMessageTemplate">
          <h2 style="margin-bottom: 20px; " *ngIf="selectedMessage !== null">
            {{ selectedMessage.messageTemplate.name }}
          </h2>
          <editor [apiKey]="API_KEY_MCE" class="editorMessageTempalte" *ngIf="selectedMessage !== null"
            [disabled]="true" [ngModel]="selectedMessage.messageTemplate.content" [init]="{
                menubar: false,
                statusbar: false,
                toolbar: false,
                height: 300, 
                content_css: 'dark'
            }"></editor>
        </div>
        <div class="editorResponseTemplate responseTemplate">
          <!-- Response Template -->
          <h2 style="margin-bottom: 20px;" *ngIf="selectedMessage !== null">{{ selectedMessage.responseTemplate.name }}
          </h2>
          <editor [apiKey]="API_KEY_MCE" *ngIf="selectedMessage !== null" [disabled]="true"
            [ngModel]="selectedMessage.responseTemplate.content" [init]="{
                menubar: false,
                statusbar: false,
                toolbar: false,
                height: 300,
                content_css: 'dark'
            }"></editor>
        </div>


      </div>
    </div>

  </div>

  <!-- Step 4 : Review -->
  <div *ngIf="Step.name === 'Review'" class="grid">
    <div>
      <h1 class="topicsHeader">Selected Topics: </h1>
      <div class="card" style="margin-bottom: 20px;" *ngFor="let topic of selectedTopics">
        <header class="card-header" style="padding:0;">
          <p class="card-header-title">{{ topic.name }}</p>
        </header>
        <div class="card-content cardHeaderStyle">
          <div class="content">
            <b>Description:</b> {{ topic.description }}
          </div>
        </div>
      </div>
    </div>
    <div>

      <h2 class="messageDesc">Message Description</h2>
      <p style="text-align: center; font-size: 24px;">{{ selectedMessage.messageDescription }}</p>
      <div class="messageTemplate editorMessageTemplate">
        <!-- Message Description -->
        <!-- Message Template -->
        <h2 style="padding-bottom: 5px;" *ngIf="selectedMessage !== null">Message Template Name</h2>
        <p>{{ selectedMessage.messageTemplate.name }}</p>
        <editor [apiKey]="API_KEY_MCE" *ngIf="selectedMessage !== null" [disabled]="true"
          [ngModel]="selectedMessage.messageTemplate.content" [init]="{
                menubar: false,
                statusbar: false,
                toolbar: false,
                height: 400,
                content_css: 'dark'
            }"></editor>
      </div>

      <div class="responseTemplate editorResponseTemplate">
        <!-- Response Template -->
        <h2 style="padding-bottom: 5px;" *ngIf="selectedMessage !== null">Response Tempalte Name</h2>
        <p>{{ selectedMessage.responseTemplate.name }}</p>
        <editor [apiKey]="API_KEY_MCE" *ngIf="selectedMessage !== null" [disabled]="true"
          [ngModel]="selectedMessage.responseTemplate.content" [init]="{
                menubar: false,
                statusbar: false,
                toolbar: false,
                height: 400,
                content_css: 'dark'
            }"></editor>
      </div>

    </div>
  </div>

  <!-- Separator Block -->
  <div class="mb-6"></div>

  <!-- Navigation Buttons -->
  <nav class="level" style="padding-bottom: 50px;">
    <!-- Left Side -->
    <div class="level-left">
      <div class="level-item">
        <button style="font-size: 18px; margin-bottom: 50px;" class="button is-rounded" (click)="Retreat()"
          [hidden]="activeStep === 1">Back</button>
      </div>
    </div>
    <!-- Right Side -->
    <div class="level-right">
      <div class="level-item">
        <button style="font-size: 18px; margin-bottom: 50px;" class="button is-rounded" (click)="Advance()"
          [hidden]="activeStep === (steps.length)">{{ steps[activeStep - 1].button || "Next" }}</button>
        <button style="font-size: 18px; margin-bottom: 50px;" class="button is-rounded"
          [hidden]="activeStep !== steps.length" (click)="Deliver()">Finish</button>
      </div>
    </div>
  </nav>
</div>

<app-modal [headerTitle]="Step.modalTitle" [active]="showModal === true" (closeRequest)="CloseModal()">
  <p>{{ Step.error }}</p>
</app-modal>
