.buttons{
    margin: 0 auto;
    justify-content: center;
    margin-top:2em;
}

.appHeader {
    position: sticky;
    top: 0;

    margin-bottom: -72px;
    z-index: 5;
}

:host::ng-deep router-outlet + * {
    padding-top: 72px;
}