<div class="parent">
  <div class="children">
    <div class="child">
      <h1 style="padding-top: 69px; font-size: 24px; text-align: center;">Categories: </h1>
      <app-category-sidebar style="padding-top: 27px" [editable]="false" [seeSubscriptions]="true"
        (messageEvent)="receiveMessage($event)" (AllTopic)="receiveAllTopics($event)" [categories]="categories">
      </app-category-sidebar>
    </div>

  </div>
  <div class="children topics">
    <div class="control has-icons-left has-icons-right input-item">
      <input class="input is-rounded" type="email" placeholder="Search" [(ngModel)]="searchText">
      <span class="icon is-small is-left">
        <i class="material-icons">search</i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>

    <div class="child topic-item">
      <div *ngFor="let category of categories | filter: categorySearch">
        <div class="forSubCat" *ngFor="let subCategory of category.subCategories | filter: subCategorySearch">

          <div *ngFor="let topic of subCategory.topics | filter: searchText">
            <div class="child topic-item highlight" *ngIf="topic.topicSubscriptions.length > 0" (click)="outgoingTopicList(topic)">
              <div class="card" style="border-radius: 30px;">

                <div class="card-content">
                  <p style="text-align: center;" class="title">
                    Topic: {{topic.name}}
                  </p>
                  <!--<div style="text-align: right;">
                    <label class="checkbox subtitle checkbox-item">
                      <input type="checkbox" (change)="outgoingTopicList(topic)" [checked]="checkSubscribed(topic)">
                      Select Topic
                    </label>
                  </div>-->
                  <p style="text-align: center;" class="subtitle">
                    Description: {{topic.description}}
                  </p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      Category: {{category.name}}
                    </span>
                  </p>
                  <p class="card-footer-item">
                    <span>
                      Sub-Category: {{subCategory.name}}
                    </span>
                  </p>

                  <p class="card-footer-item subscribe" [ngClass]="{'active' : checkSubscribed(topic)}">
                    <span>
                      {{ checkSubscribed(topic) ? "Selected" : "Select" }}
                    </span>
                  </p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
