:host {
    background-color: #1b2132;
    color: white;
    display: block;
  }
  header{

text-align:center;
  }
   h1{
      font-size: x-large;
  }
  .main-container{
      display:grid;
      grid-template-columns: 20% 80% ;
  }

.saved-message-templates{
  padding-top:3%;
    grid-column: 1;

  }
.editor-window{
    grid-column: 2;
    padding-left: 5%;
    padding-right: 5%;

    }


.buttonStyle {
  padding-top: 2%;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.heading{
  text-align: center;
  padding-top:2%;
  font-size:x-large;
  padding-bottom: 30px;
}

.main-container{
  padding-top: 1%;
 
  width:100%;
  justify-content: center;
  text-align: center;
  margin:0 auto;

}

.changeNameInput {
  width: 30%;
  text-align: center;
}

input {
  background-color: #1b2132;
  color: white;
}
Input:focus {
  color: white;
}

::placeholder {
  color: white
}

h1 {
  padding-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}