:host {
    background-color: #1b2132;
    color: white;
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;;

}

.message-border {
    border: 1px white solid;
    border-radius: 15px;
    overflow: hidden;
}

.messageTemplate-sidebar {
    float: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageTemplate-sidebar:not(:last-child) {
    border-bottom: 1px white solid;
}

.message-btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: none;
    color: white;
}

button:hover, a:visited, a:link, a:active, button:focus
{
    cursor: pointer;
    box-shadow: rgba(233, 233, 233, 0.767) 0px 0px 10px;;
    background-color:  #262f49;
    width: 100%;
    border-radius: 0px;
}


button {
    background-color: #1b2132;
    color: white;
}