<div class="main-container">
  <div class="saved-message-templates">
    <app-message-template-sidebar style="padding-top: 140px;" (SidebarDataMessage)="receiveMessage($event)">
    </app-message-template-sidebar>
  </div>
  <div class="editor-window">
    <div class="heading">
      <h1>Create a custome message style and or use an existing message template</h1>
      <input class="input is-rounded changeNameInput" [value]="TemplateName" (change)="changeTemplateName($event)"
        type="text" [placeholder]="TemplateName">
    </div>
    <div class="">
      <div class="editor-window">
        <editor apiKey={{API_KEY_MCE}} onchange="changeContent()" [(ngModel)]="Content" [init]="{
              height: 400,
              plugins: [
                'advlist autolink lists link image charmap print',
                'preview anchor searchreplace visualblocks code',
                'fullscreen insertdatetime media table paste',
                'help wordcount',
                'link', 'image'
              ],
              selector: 'textarea', 
              skin: 'oxide-dark',
              content_css: 'dark'  ,
          
              toolbar:
                'undo redo | formatselect | bold italic | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | link | image | help'
            }">
        </editor>
      </div>
    </div>


  </div>
</div>
