<!--For now this class is only used for debugging-->
<div class="main-container">

        <label for="email">Email</label>
        <input required minlength="3" maxlength="30" pattern='^[A-Za-z0-9\u0430-\u044F\u0410-\u042F\._-]+@([A-Za-z0-9\u0430-\u044F\u0410-\u042F]{1,2}|[A-Za-z0-9\u0430-\u044F\u0410-\u042F]((?!(\.\.))[A-Za-z0-9\u0430-\u044F\u0410-\u042F.-])+[A-Za-z0-9\u0430-\u044F\u0410-\u042F])\.[A-Za-z\u0430-\u044F\u0410-\u042F]{2,}$' ngModel  name="email" #email="ngModel"  id="firstName" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="email.touched &&!email.valid">Email is required</div>
      
    </div>
    <button *ngIf="!email.errors" class="btn btn-primary" (click)="signUp()">Submit</button>
<button class="btn btn-secondary" (click)="SendEmailToUsers()">Send Email</button>
<ol>
    <li *ngFor="let users of listOfAdministrators">{{users.adminEmail}}</li>
</ol>
<h1>TinyMCE 5 Angular Demo</h1>
<editor apiKey="your-api-key" [(ngModel)]="dataModel" apiKey={{API_KEY_MCE}}  
  [init]="{
    height: 500,
    plugins: [
      'advlist autolink lists link image charmap print',
      'preview anchor searchreplace visualblocks code',
      'fullscreen insertdatetime media table paste',
      'help wordcount',
      'link', 'image'
    ],
    toolbar:
      'undo redo | formatselect | bold italic | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | link | image | help'
  }"
>
</editor>
<button (click)="getDataFromTinyMce()">GetData</button>

