<div class="heading">
  <input type="text" placeholder="{{titleOfTemplate}}" > 
    </div>
    <div class="main-container">
      <div class="editor-window">
      <editor apiKey={{API_KEY_MCE}} [(ngModel)]="dataModel" 
      [init]="{
        height: 400,
        plugins: [
          'advlist autolink lists link image charmap print',
          'preview anchor searchreplace visualblocks code',
          'fullscreen insertdatetime media table paste',
          'help wordcount',
          'link', 'image'
        ],
        selector: 'textarea', 
        skin: 'oxide-dark',
        content_css: 'dark'  ,
    
        toolbar:
          'undo redo | formatselect | bold italic | \
          alignleft aligncenter alignright alignjustify | \
          bullist numlist outdent indent | link | image | help'
      }">
    </editor>
    <h3></h3>
    </div>
    <div class="review-and-submit">
      <button class="button is-success" (click)="saveTemplate()">Save Template</button>
   
  </div>
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--
    <div class="parent">
    
      <div class="children">
        <div class="child">
          <app-category-sidebar [categories]="categories"></app-category-sidebar>
        </div>
      </div>
    
      <div class="children topics">
        <div>
          <h1>Create a message</h1>
        </div>
        
        <div class="child topic-item">
          <div class="child topic-item">
            <div class="card">
              <div class="card-content">
                <p style="text-align: center" class="title">Label Name</p>
                <div class="changeIcon">
                  <p>some content</p>
                  <span style="font-size: 28px" class="btn material-icons">
                    create
                  </span>
                </div>
    
                <p style="text-align: center" class="subtitle">Description:</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="templateComponent">
        <div *ngSwitchCase="'TextInput'">
          <div class="children textfield-item componentOrdering">
            <div>
              <h2>Add Text Inuput Component</h2>
            </div>
            <div style="padding-bottom: 80px" class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <p>Component type:</p>
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    TextInput
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="ChangeComponent('TextInput')">TextInput</button>
                    <button ngbDropdownItem (click)="ChangeComponent('checkBox')">checkBox</button>
                    <button ngbDropdownItem (click)="ChangeComponent('TextArea')">TextArea</button>
                  </div>
                </div>
              </div>
            </div>
    
            <input style="margin-bottom: 20px;" class="input is-rounded" type="text" placeholder="Input text here">
    
            <div class="buttonStyle">
              <button class="button is-success is-rounded">Apply changes</button>
              <button class="button is-danger is-rounded">Delete Component</button>
            </div>
          </div>
    
        </div>
        <div *ngSwitchCase="'checkBox'">
          <div class="children textfield-item componentOrdering">
            <div>
              <h2>Add Check Items</h2>
            </div>
            <div style="padding-bottom: 80px" class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <p>Component type:</p>
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Check Box
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="ChangeComponent('TextInput')">TextInput</button>
                    <button ngbDropdownItem (click)="ChangeComponent('checkBox')">checkBox</button>
                    <button ngbDropdownItem (click)="ChangeComponent('TextArea')">TextArea</button>
                  </div>
                </div>
              </div>
            </div>
    
            <label class="checkbox subtitle checkbox-item">
              <input type="checkbox">
              check item1
            </label>
            <label class="checkbox subtitle checkbox-item">
              <input type="checkbox">
              check item 2
            </label>
            <label class="checkbox subtitle checkbox-item">
              <input type="checkbox">
              check item 3
            </label>
            <div class="buttonStyle">
              <button class="button is-success is-rounded">Apply changes</button>
              <button class="button is-danger is-rounded">Delete Component</button>
            </div>
          </div>
        </div>
    
        <div *ngSwitchCase="'TextArea'">
          <div class="children textfield-item componentOrdering">
            <div>
              <h2>Add Text Area</h2>
            </div>
            <div style="padding-bottom: 80px" class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <p>Component type:</p>
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    TextArea
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="ChangeComponent('TextInput')">TextInput</button>
                    <button ngbDropdownItem (click)="ChangeComponent('checkBox')">checkBox</button>
                    <button ngbDropdownItem (click)="ChangeComponent('TextArea')">TextArea</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="field" style="padding-bottom: 20px">
              <div class="control">
                <textarea style="background-color: #1b2132; color: white" class="textarea is-medium"
                  placeholder="Description:"></textarea>
              </div>
            </div>
    
    
            <div class="buttonStyle">
              <button class="button is-success is-rounded">Apply changes</button>
              <button class="button is-danger is-rounded">Delete Component</button>
            </div>
          </div>
        </div>
    
        <div *ngSwitchDefault>
          <div class="children textfield-item componentOrdering">
            <div>
              <h2>Component types</h2>
            </div>
            <div style="padding-bottom: 80px" class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <p>Component type:</p>
                  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    Chose Component type
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="ChangeComponent('TextInput')">TextInput</button>
                    <button ngbDropdownItem (click)="ChangeComponent('checkBox')">checkBox</button>
                    <button ngbDropdownItem (click)="ChangeComponent('TextArea')">TextArea</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      
    
    </div>
        -->
