<div class="parent">

  <div class="children topics">

    <div>
      <p class="loginStyle" style="text-align: center; padding-bottom: 20px;">Credentials: {{ login }}</p>
    </div>
    <div class="control has-icons-left has-icons-right input-item">
      <input class="input is-rounded" type="email" placeholder="Search" [(ngModel)]="searchText">
      <span class="icon is-small is-left">
        <i class="material-icons">search</i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>

    <div class="child topic-item">
      <div *ngFor="let topic of topicsSubscribedTo | filter: searchText">
        <div class="child topic-item">
          <div class="card" style="border-radius: 30px;">
            <div class="card-content">
              <p style="text-align: center;" class="title">
                Topic: {{topic.topic.name}}
              </p>
              <!--<div style="text-align: right;">
                <label class="checkbox subtitle checkbox-item">
                  <input type="checkbox" (change)="onTopicSubscriptionChanged(topic.topicID)" [checked]="topic.active">
                  Subscribe
                </label>
              </div>-->
              <p style="text-align: center;" class="subtitle">
                Description: {{topic.topic.description}}
              </p>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  Category: {{topic.topic.subcategory.category.name}}
                </span>
              </p>
              <p class="card-footer-item">
                <span>
                  Sub-Category: {{topic.topic.subcategory.name}}
                </span>
              </p>
              <p class="card-footer-item subscribe" [ngClass]="{'active' : topic.active}"
                (click)="onTopicSubscriptionChanged(topic.topicID)">
                <span>
                  Unsubscribe
                </span>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>


    <div style="margin-bottom: 70px;" class="buttonContainer">
      <button class="button is-rounded unsubscribe-btn btnStyle" [routerLink]="['/user-subscription']">Manage
        Subscriptions</button>

      <button class="button is-rounded unsubscribe-btn btnStyle" (click)="unSubscribeAll()">Unsubscribe from all
        topics</button>

    </div>
  </div>
</div>
