<div class="heading">
<h1>Outgoing message</h1>
</div>
<div class="main-container">
    <div class="editor-window">
    <editor apiKey={{API_KEY_MCE}}  [(ngModel)]="dataModel"
    [init]="{
      height: 400,
      plugins: [
        'advlist autolink lists link image charmap print',
        'preview anchor searchreplace visualblocks code',
        'fullscreen insertdatetime media table paste',
        'help wordcount',
        'link', 'image'
      ],
      toolbar:
        'undo redo | formatselect | bold italic | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | link | image | help'
    }"
  >
  </editor>
  </div>

<div class="send-to-reciptents">
  <button class="button is-primary" type="submit" (click)="sendOutEmails()">Send messages</button>
  <button class="button is-link" type="submit" (click)="goToLibrary()">Library</button>
</div>
</div>
