
<div class="main-container">
    <div class="saved-message-templates">
<!--<app-saved-templates (loadedEvent)="recieveMessage($event)" ></app-saved-templates>-->
      <!--  <app-message-template-sidebar></app-message-template-sidebar>-->
</div>
    <div class="editor-window">
 
     <!-- <app-template-for-message></app-template-for-message> -->

    </div>

    

</div>