<div class="navComponent">
  <nav class="navbar navbarComponent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
      <div class="navbar-start">

        <div class="loginNavbar">

          <span routerLink="/" class="material-icons" style="padding-top: 13px;">
            chat
          </span>
          <a routerLink="/" class="navbar-item">
            Kommunicator
          </a>
        </div>
      </div>

      <a *ngIf="Authenticated" routerLink="/admin-main-page" routerLinkActive="active" class="navbar-item">
        Admin page
      </a>


    </div>

    <div class="navbar-end">
      <div class="loginNavbar">
        <span class="material-icons" style="padding-top: 15px;">
          login
        </span>

        <a *ngIf="!Authenticated" routerLink="/admin-main-page" routerLinkActive="active" class="navbar-item">
          Login
        </a>

        <a (click)="logout()" class="navbar-item" *ngIf="Authenticated">Logout</a>
      </div>
    </div>

  </nav>

</div>
