.heading{
  text-align: center;
  padding-top:2%;
  font-size:x-large;
}
.main-container{
  padding-top: 1%;
 
  width:100%;
  justify-content: center;
  text-align: center;
  margin:0 auto;

}
.main-container .editor-window{

}
.main-container .choose-topics{
  width:100%;
  float:left;
}
li{
  text-align: left;
}
input{
  margin-top: 1%;
  width:20%;
  font-size: x-large;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}


.main-container .submit-form
{
position: absolute;
margin: 0 auto;
bottom:0;

}
h3{
  font-weight: bolder;
}
.choose-topics{
  position: relative;
}


button{
padding:1em 1em 1em 1em;
margin:1em 1em 0 1em;

}



:host {
  background-color: #1b2132;
  color: white;
  display: block;
  min-height: 100vh;
}
/*
.parent {
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
}

.topics {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.componentOrdering {
  display: flex;
  flex-direction: column;
}

.topic-item {
  padding-bottom: 20px;
}

.children {
  display: flex;
  padding-right: 50px;
}

.child {
  font-size: 14px;
  color: white;
  width: 100%;
}

.topic-child {
  font-size: 14px;
  color: white;
  width: 100%;
  border: 1px white solid;
}

.input {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1b2132;
}

.input-item {
  padding-bottom: 40px;
}

Input:focus {
  color: white;
}

::placeholder {
  color: white;
}

.textfield-item {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  background-color: #1b2132;
}

p {
  color: white;
}

.checkbox-item {
  color: white;
}

h1 {
  font-size: larger;
  text-align: center;
  padding-bottom: 40px;
}

h2 {
  font-size: 26px;
  text-align: center;
  padding-bottom: 20px;
}

.buttonStyle {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.changeIcon {
  display: grid;
  grid-template-columns: 8fr 1fr;
}

.checkbox-item {
  color: white;
}

.checkbox-item:hover {
  color: white;
}
*/