:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
}

.response-template-content {
    margin-bottom: 10vh;
}

.response-page-container {
    margin-top: 7vh;
    margin-left: 10vw;
    margin-right: 10vw;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 0px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
    padding-bottom: 5vh;
}

.likert-content {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.welcome-message {
    margin-bottom: 10vh;
    color: white;
}

.likert-button {
    margin-left: 1vw;
    margin-right: 1vw;
}

.submit-button {
    margin-top: 3vw;
    margin-left: 30vw;
    margin-right: 30vw;
}

.response-input-content {
    padding-left: 10vw;
    padding-right: 10vw;
}

textarea {
    background-color: #1b2132;
    color: white;
}