:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
}

.manage-topics-page-content {
    display: flex;
}

.category-list-container {
    min-width: 15vw;
    justify-self: left;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 0px 15px;
}

.topic-list-container {
    display: block;
    justify-content: center;
    justify-items: center;
    padding: 5vh;
    flex: 1;
}

.new-topic-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.new-topic-button {
    justify-self: center;
    
}
#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
    
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.newTopicButton {
    background-color: #1b2132;
    color: white;
}