:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    width: 100%;

}

.boxStyle {
    background-color: yellow;
    color: white;
}

.accordian > .card {
    background-color: green;

}

::ng-deep .card-body {
    padding-top: 0vh;
}

::ng-deep .card {
    background-color: #1b2132;
    color: white;
    border: 1px white solid;
    
}

::ng-deep .btn {
    color: white;
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    text-decoration: none;
    
}

::ng-deep .btn:hover {
    color: white;
    text-decoration: underline;
}

button:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
button:focus { outline: none; }

.new-category-icon {
    max-width: 3vh;
    max-height: 3vh;
    margin-left: 1vh;
}

.new-category-icon:hover{
    cursor: pointer;
    box-shadow: rgba(233, 233, 233, 0.767) 0px 0px 10px;;
}

.category-input-container {
    width: content;
    display: flex;
    align-items: center;
}

.sub-category {
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

.sub-category-text {
    margin-left: 1vh;
}

.sub-category:hover {
    cursor: pointer;
    background-color:  #262f49;
}

.sub-cat-option-menu {
    align-self: center;
    display: flex;
    align-items: center;
}

.all-topics-btn {
    font-size: large;
    text-align: center;
    width: 100%;
    background-color: #1b2132;
    color: white;
    text-align: center;
    border-style: none;
}

input {
    background-color: #1b2132;
    color: white;
}

::placeholder {
    color: white;
}

.subscriptionBtn {
    font-weight: bold;
    font-style: italic;
}
.topicsBtn {
    font-weight: bold;
}