:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 34px;
}
.LoginInput {
    background-color: #1b2132;
    color: white;
    width: 20em;
}

Input:focus {
    color: white;
}


.material-icons {
    color: white;
}

p {
    color: white;
}