
<div *ngFor="let category of categories">
    <div *ngFor="let subCategory of category.subCategories | filter: subCategoryFilter">
        <div *ngFor="let topic of subCategory.topics">
            <app-topic-card 
            [topic]="topic" 
            [categoryName]="category.name" 
            [subCategoryName]="subCategory.name"
            [editable]="editable"
            (editTopicEvent)="handleEditTopicEvent($event, subCategory)"
            (deleteTopicEvent)="handleDeleteTopicEvent($event, subCategory)"
            ></app-topic-card>
        </div>
    </div>
</div>