<div class="saved-templates">
    <div class="heading">
        <h1>Saved Templates</h1>
<button class="button is-success" (click)="loadEarlierTemplates()">Show earlier</button>
</div>
<div class="showEarlierCreated" *ngIf="showAll">
    <ul>
        <li  *ngFor="let data of showListOfSavedTemplates; let i=index" (click)="youClickedMe(i)">
            <editor apiKey={{API_KEY_MCE}}    initialValue={{data.innerHTML}}   
            [init]="{
              height: 300,
              width:300,
              plugins: [
               
              ],
              toolbar:false,
              menubar:false
            }"
          >
          </editor>
        <button class="button is-success">Select</button>
        </li>
     
    </ul>
</div>
</div>