<div class="container is-fluid">
  <!-- Breadcrumb -->
  <app-breadcrumb [active]="activeStep" [crumbs]="StepCrumbs"></app-breadcrumb>

  <!-- Information for Step X -->
  <h2 [hidden]="Step.name === 'Introduction'" class="is-size-4 has-text-centered m-5">
    {{ steps[activeStep - 1].description }}</h2>

  <!-- Step 1 : Introduction-->
  <div class="centerContent3" [hidden]="Step.name !== 'Introduction'">
    <section class="hero is-transparent is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Create Message Flow
          </h1>
          <h2 class="subtitle">
            Create a message, pick a message template and then pick a corrosponding response template. Done.
          </h2>

          <h2 class="subtitle">Please describe the message you wish to create, then press Next</h2>

          <input class="input is-rounded DescriptionInput" type="text"
            (input)="OnDescriptionChange($event.target.value)" [value]="messageDescription" placeholder="Message" />
        </div>
      </div>
    </section>
  </div>

  <!-- Step 2 : select message template -->
  <div class="centerContent3" *ngIf="Step.name === 'Select Message Template'">
    <app-create-message-template #msgTemplate (MessageTemplateId)="OnMessageIdFetch($event)"></app-create-message-template>
  </div>

  <!-- Step 3 : Select response template template -->
  <div class="centerContent3" *ngIf="Step.name === 'Select Response Template'">
    <app-create-response-template (ChosenResponseType)="OnResponseTypePicked($event)"
      (ResponseTemplateId)="OnReponseIdFetch($event)">
    </app-create-response-template>
  </div>

  <!-- Review -->
  <div style="padding-top: 40px;" class="centerContent2" [hidden]="Step.name !== 'Review'">
    <div>
      <div class="MessageDescriptionReview">
        <h2>Message Description</h2>
        <p>{{ messageDescription }}</p>
      </div>

      <div class="grid">

        <div class="messageTemplateReview">
          <div *ngIf="messageTemplate !== null" class="block">
            <h2>Message Template </h2>
            <p>{{ messageTemplate.name }}</p>
            <editor [apiKey]="API_KEY_MCE" [disabled]="true" [initialValue]="messageTemplate.content" [init]="{
                    menubar: false,
                    statusbar: false,
                    toolbar: false,
                    height : 400,
                    content_css: 'dark'
                }"></editor>
          </div>
        </div>
        <div class="responseTemplateReview">
          <div *ngIf="responseTemplate !== null" class="block">
            <h2>Response Template Name</h2>
            <p>{{ responseTemplate.name }}</p>
            <editor [apiKey]="API_KEY_MCE" [disabled]="true" [initialValue]="responseTemplate.content" [init]="{
                    menubar: false,
                    statusbar: false,
                    toolbar: false,
                    height: 400,
                    content_css: 'dark'
                }"></editor>
          </div>
        </div>
      </div>
    </div>




  </div>

  <!-- Separator Block -->
  <div class="mb-6"></div>

  <!-- Navigation Buttons -->
  <nav class="level">
    <!-- Left Side -->
    <div class="level-left">
      <div class="level-item">
        <button class="button is-rounded" style="margin-bottom: -50px;" (click)="Retreat()"
          [hidden]="activeStep === 1">Back</button>
      </div>
    </div>
    <!-- Right Side -->
    <div class="level-right">
      <div class="level-item">
        <button style="margin-bottom: -50px;" class="button is-rounded"
          (click)="Advance()">{{ steps[activeStep - 1].button || "Next" }}</button>
      </div>
    </div>
  </nav>
</div>

<app-modal [headerTitle]="Step.modalTitle" [active]="showModal === true" (closeRequest)="CloseModal()">
  <p>{{ Step.error }}</p>
</app-modal>
