$colorBlue: #1b2132;
$colorBlack: rgb(0, 0, 0);
$colorWhite: rgb(255, 255, 255);

// Some of the colors are using RGB so an opacity can be applied to it via rgba. Example: rgba($colorWhite, 0.2)

:host {
    background-color: $colorBlue;
    color: $colorWhite;
    display: block;
    min-height: 100vh;
}

.hero.is-transparent {
    background-color: transparent;
}

.hero.is-transparent .title, .subtitle {
    color: $colorWhite;
}

// Text Editor

.editor {
    border-radius: 20px !important;
}

.editor > div {
    border-radius: 20px !important;
}


::placeholder {
    color: white;
}

input {
    background-color: #1b2132;
    color: white;
}

button, button:hover, button:active, button:focus {
    background-color: #1b2132;
    color: white;
}

.MessageDescriptionReview {
    text-align: center;
    font-size: 28px;
    padding-bottom: 40px;

}

.messageTemplateReview{
    text-align: center;
    font-size: 24px;
}

.responseTemplateReview {
    text-align: center;
    font-size: 24px;
    
}

.block {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    padding-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
}


::ng-deep.tox.tox-tinymce {
    border-radius: 15px;
    box-shadow: rgba(233, 233, 233, 0.767) -11px 12px 20px 0px;
}

.centerContent2 {
    display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
}

.centerContent3 {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

::ng-deep.tox tox-tinymce {
    border-radius: 15px;
}

h1, h2 {
    font-weight: bold;
    font-style: italic;
}