
:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
  }
  .saved-templates{
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      
  }
  li{
      display: inline-block;
      padding-right:2em;
      padding-bottom:2em;
  }
  :hover button{
      cursor: pointer;
  }
  .heading{
    text-align: center;
    padding-top:2%;
    font-size:x-large;
  }
  .showEarlierCreated{
      text-align: center;
  }
 