<div class="saved-templates">
    <div class="heading">
        <h1>Saved Templates</h1>
<button class="button is-success" (click)="loadEarlierTemplates()">Show earlier</button>
</div>
<div class="showEarlierCreated" *ngIf="showAll">
    <ul>
        <li *ngFor="let data of showListOfSavedTemplates; let i=index" (click)="youClickedMe(i)">
            <button class="button is-success">{{data.innerHTML}}</button>
        </li>
     
    </ul>
</div>
</div>