<div class="admin-page-content">
  <div class="navigation-container">
    <div class="nav-columns">
      <div class="nav-column">
        <app-action-card [clickable]="true" icon="../../assets/images/list-white.png" title="Manage Topics" navigation="/manage-topics">
        </app-action-card>
      </div>

      <div class="nav-column">
        <app-action-card [clickable]="true" icon="../../assets/images/talk-bubble-with-plus-sign-white.png" title="Create Messages"
          navigation="/create-message-flow"></app-action-card>
      </div>
    </div>
    <div class="nav-columns">

      <div class="nav-column">
        <app-action-card [clickable]="true" icon="../../assets/images/paper-plane-white.png" title="Deliver Messages"
          navigation="/outgoing-sets"></app-action-card>
      </div>
      <div class="nav-column">
        <app-action-card [clickable]="true" icon="../../assets/images/report-white.png" title="Create Report" navigation="/reports-admin">
        </app-action-card>
      </div>
    </div>
  </div>
</div>
