:host {
    display: block;
    background-color: #1b2132;
    min-height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.admin-page-content {
    
    display: flex;
    justify-content: center;
    
}

.nav-columns {
    display: flex;
    justify-content: center;
}

.navigation-container {
    max-width: fit-content;
}