<nav class="panel">
    <p class="panel-heading">{{ title }}</p>

    <div class="panel-block">
        <p class="control has-icons-left">
            <input type="text" class="input" [placeholder]="searchPlaceholder">

            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
    </div>

    <p class="panel-tabs">
        <a *ngFor="let tab of tabs; let i = index" [class]="{'is-active': activeTab === i}" (click)="changeTabs(i)">{{ tab }}</a>
    </p>

    <!--<a class="panel-block" *ngFor="let item of items; let i = index" [class]="{'is-active' : selected.includes(i)}" (click)="toggleSelected(i)">
        <span *ngIf="selected.includes(i)" class="material-icons panel-icon">radio_button_checked</span>
        <span *ngIf="!selected.includes(i)" class="material-icons panel-icon">radio_button_unchecked</span>
        {{ item }}
    </a>-->

    <div class="blocks">
        <!-- Complete Selection -->
        <a [hidden]="activeTab !== 0" class="panel-block" *ngFor="let item of dataset; let i = index" [class]="{ 'is-active' : selected.includes(i) }" (click)="toggleSelected(i)">
            <span *ngIf="selected.includes(i)" class="material-icons panel-icon">radio_button_checked</span>
            <span *ngIf="!selected.includes(i)" class="material-icons panel-icon">radio_button_unchecked</span>
            {{ item[key] }}
        </a>

        <!-- Selected Selection -->
        <a [hidden]="activeTab !== 1" class="panel-block is-active" *ngFor="let index of selected" (click)="removeSelected(index)">
            <span class="material-icons panel-icon">radio_button_checked</span>
            {{ dataset[index][key] }}
        </a>
    </div>
</nav>