:host {
    background-color: #1b2132;
    color: white;
    display: block;
    min-height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: 2fr 8fr;
    
  }

  .topics {
      display: flex;
      flex-direction: column;
      padding-top: 40px;
  }

  .topic-item {
      margin-bottom: 30px;
  }
  
  .children {
    display: flex;
    padding-right: 50px;
  }
  
  .child {
    font-size: 14px;
    color: white;
    width: 100%;
  }

  .topic-child {
    font-size: 14px;
    color: white;
    width: 100%;
    border: 1px white solid
  }

  .input {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #1b2132 ;
  }

  .input-item {
    
      padding-bottom: 40px;
      
  }
  
  Input:focus {
      color: white
  }

  ::placeholder {
    color: white
}


.textfield-item {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #1b2132;

}

p {
    color: white
}

.checkbox-item {
    color: white;

}

.highlight {
    transition: all .2s ease-in-out;
    border-radius: 30px;
}

.highlight:hover {
    cursor: pointer;
    box-shadow: rgba(233, 233, 233, 0.11) -4px 8px 11px 5px;
    transform: translate3d(0px, -4px, 0px);

}

.card-footer {
    background-color: #1b2132;
    display: flex;
    align-items: center;
    border-style: none;
    border-top: 1px solid grey;
}

.card-footer-item {
    background-color: #1b2132;
    color: white;
    border-radius: 13px;
    border: 1px solid grey;
    padding: 10px;
    margin: 3px;
    flex-basis: auto;
    flex-grow: 0;

    font-size: 1.5em;
}

.subscribe {
    position: absolute;
    right: 0;
    margin-right: 20px;

    background-color: rgba(white, 0.2);

    border-color: transparent;
}

.subscribe.active {
    background-color: green;
}


.loginStyle {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;

}