$color: #1b2132;
$modal-card-head-background-color: $color;
$modal-card-body-background-color: $color;
$modal-card-title-color: white;
$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;

@import "../../../../node_modules/bulma/bulma.sass";
